@model List<Objekat>
@using (Html.BeginForm("filtriranje", "PretragaObjekata", FormMethod.Post))
{
    <form>
        <div class="clearfix">
            <div class="row well-sm">
                <div class="float-right col-xs-5 dodajMarginuGore">
                    <div>
                        <!--"i" najcesce znaci da ce biti nesto napisano koristeci italics-->
                        <i class="fa fa-search position-absolute pt-2 pl-3"></i>
                        <input type="text" class="form-control pl-5" id="filterPoImenuApartmana" name="filterPoImenuApartmana" placeholder="Filtriraj po imenu objekta">
                    </div>
                </div>

                <div class="float-right col-xs-5 dodajMarginuGore">
                    <div>
                        <!--"i" najcesce znaci da ce biti nesto napisano koristeci italics-->
                        <i class="fa fa-search position-absolute pt-2 pl-3"></i>
                        <input type="text" class="form-control pl-5" id="filterPoCijeni" name="filterPoCijeni" placeholder="Filtriraj po cijeni">
                    </div>
                </div>

                <div class="float-right col-xs-5 dodajMarginuGore">
                    <div>
                        <!--"i" najcesce znaci da ce biti nesto napisano koristeci italics-->
                        <i class="fa fa-search position-absolute pt-2 pl-3"></i>
                        <input type="text" class="form-control pl-5" id="filterPoLokaciji" name="filterPoLokaciji" placeholder="Filtriraj po lokaciji">
                    </div>
                </div>

                <div class="float-right col-xs-5 dodajMarginuGore">
                    <div>
                        <!--"i" najcesce znaci da ce biti nesto napisano koristeci italics-->
                        <i class="fa fa-search position-absolute pt-2 pl-3"></i>
                        <input type="text" class="form-control pl-5" id="filterPoImenuVlasnika" name="filterPoImenuVlasnika" placeholder="Filtriraj po imenu vlasnika">
                    </div>
                </div>
            </div>
            <!--ovdje kod-->
            <div class="row well-sm">
                <div class="col-xs-12 dodajMarginuGoreIDole pull-left">
                    <button class="btn btn-default dropdown-toggle" type="submit" id="dugmeIzvrsiFiltraciju">
                        Filtriraj objekte
                    </button>
                </div>
            </div>

        </div>
    </form>
}


@{
    DBContext baza = DBContext.dajInstancu();
    List<Objekat> sviObjekti;
    if (Model != null)
    {
        sviObjekti = Model;
        foreach (var objekat in Model)
        {
            System.Diagnostics.Debug.WriteLine(objekat.Naziv);
        }
    }
    else
    {
        sviObjekti = baza.Objekat.ToList();
    }
    System.Diagnostics.Debug.WriteLine(sviObjekti.Count());
    //ovdje se dodaje filtriranje dobavljenih podatak iz baze, a i samo dobavlajnje iz baze
}

<!-- Modal -->
@using (Html.BeginForm("iznajmi", "PretragaObjekata", FormMethod.Post))
{
    <form>
        <div class="row">
            <div class="col-xs-10">
                <div class="panel panel-default w-100 dodajMarginuSaSvihStrana">
                    <!-- Default panel contents -->
                    <div class="panel-heading">Filtrirani objekti</div>

                    <!-- Table -->
                    <table class="dodajMarginuSaSvihStrana">
                        <!--table row-->
                        <tr class="panel panel-success w-100">
                            <!--table header-->
                            <th>ObjekatID </th>
                            <th>Broj kreveta </th>
                            <th>Naziv </th>
                            <th>Kvadratura </th>
                            <th>Cijena po noci </th>
                            <th>Ocjena </th>
                            <th>Vlasnik </th>
                            <th>Lokacija </th>
                        </tr>

                        @foreach (var objekat in sviObjekti)
                        {
                            <tr class="w-100">
                                <!--"td" predstavlja jednu celiju u tabeli-->
                                <td id="objekatID" class="brojUTabeli">@objekat.ObjekatID</td>
                                <td id="brojKreveta" class="brojUTabeli"> @objekat.BrojKreveta</td>
                                <td id="naziv" class="nazivUTabeli">@objekat.Naziv</td>
                                <td id="kvadratura" class="brojUTabeli">@objekat.Kvadratura</td>
                                <td id="cijenaPoNoci" class="brojUTabeli">@objekat.CijenaPoNoci</td>
                                <td id="ocjena" class="brojUTabeli">@objekat.Ocjena</td>
                                <td id="vlasnik" class="nazivUTabeli">@baza.Osoba.Where((Osoba o) => o.OsobaID.Equals(objekat.VlasnikID)).First().Naziv</td>
                                <td id="lokacija" class="nazivUTabeli">@baza.Lokacija.Where((Lokacija l) => l.LokacijaID.Equals(objekat.LokacijaID)).First().Grad</td>
                                <td>
                                    @{
                                        var json = Newtonsoft.Json.JsonConvert.SerializeObject(objekat);
                                    }
                                    <div class="row well-sm">
                                        <div class="col-xs-12">
                                            <!-- "onclick=IME_FUNKCIJE_KOJA_SE_POZIVA" koja je implementirana u "script" tagu -->
                                            <button type="button" class="btn btn-info dodajMarginuSaSvihStrana" data-toggle="modal" data-target="#modalZaObjekte" onclick="prikaziUnesenePodatke()">Pogledaj detaljnije</button>
                                        </div>
                                    </div>

                                    <script>
                                function prikaziUnesenePodatke()
                                {
                                    $("#nazivObjekta").html('@objekat.Naziv');
                                    $("#brojKrevetaObjekta").html('@objekat.BrojKreveta');
                                    $("#kvadraturaObjekta").html('@objekat.Kvadratura');
                                    $("#ocjenaObjekta").html('@objekat.Ocjena');
                                    $("#vlasnikObjekta").html('@baza.Osoba.Where((Osoba o) => o.OsobaID.Equals(objekat.VlasnikID)).First().Naziv');
                                    $("#lokacijaObjekta").html('@baza.Lokacija.Where((Lokacija l) => l.LokacijaID.Equals(objekat.LokacijaID)).First().Grad');
                                }
                                    </script>

                                </td>
                            </tr>
                         }

                    </table>
                </div>

            </div>
        </div>
        <div class="modal fade" id="modalZaObjekte" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Detalji o objektu</h4>
                    </div>

                    <div class="modal-body">

                        <div class="row well-sm">
                            <div class="col-xs-4">
                                <label>Naziv objekta </label>
                            </div>
                            <div id="nazivObjekta" class="col-xs-8"></div>
                        </div>

                        <div class="row well-sm">
                            <div class="col-xs-4">
                                <label>Broj kreveta </label>
                            </div>
                            <div id="brojKrevetaObjekta" class="col-xs-8"></div>
                        </div>

                        <div class="row well-sm">
                            <div class="col-xs-4">
                                <label>Kvadratura </label>
                            </div>

                            <div id="kvadraturaObjekta" class="col-xs-8"></div>
                        </div>

                        <div class="row well-sm">
                            <div class="col-xs-4">
                                <label>Ocjena </label>
                            </div>

                            <div id="ocjenaObjekta" class="col-xs-8"></div>
                        </div>

                        <div class="row well-sm">
                            <div class="col-xs-4">
                                <label>Vlasnik </label>
                            </div>

                            <div id="vlasnikObjekta" class="col-xs-8"></div>
                        </div>

                        <div class="row well-sm">
                            <div class="col-xs-4">
                                <label>Lokacija </label>
                            </div>

                            <div id="lokacijaObjekta" class="col-xs-8"></div>
                        </div>

                        <!-- kroz ono gore slanje informacija se sigurno moze nekako poslati i da se slike ovdje prikazu-->
                        <div class="slider-holder">
                            <span id="slider-image-1"></span>
                            <span id="slider-image-2"></span>
                            <span id="slider-image-3"></span>
                            <div class="image-holder">
                                <img src="~/images/logo.png" class="slider-image" />
                                <img src="~/images/banner1.svg" class="slider-image" />
                                <img src="~/images/banner2.svg" class="slider-image" />
                            </div>

                            <div class="button-holder">
                                <a href="#slider-image-1" class="slider-change"></a>
                                <a href="#slider-image-2" class="slider-change"></a>
                                <a href="#slider-image-3" class="slider-change"></a>
                            </div>
                        </div>

                    </div>

                    <div class="modal-footer">
                        <div class="row well-sm">
                            <div class="col-xs-2 col-sm-offset-8">
                                <button type="button" class="btn btn-info" data-dismiss="modal">Zatvori</button>
                            </div>

                            <div class="col-xs-2">
                                <button type="submit" class="btn btn-success">Iznajmi</button>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </form>
}